@tailwind base;
@tailwind components;
@tailwind utilities;

.floating {
  animation: floating 3s ease-in-out infinite;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
